@charset "utf-8";

main {
  position: relative;
  width: 400px;
  margin: auto;
  z-index: 0;
}

main img {
  vertical-align: bottom;
  transition: all 1s ease-in-out;
}

main ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#main {
  width: 400px;
  height: 400px;
  margin-bottom: 8px;
}

main nav {
  margin-bottom: 8px;
}

main nav ul {
  display: flex;
  justify-content: space-between;
}

main nav li:hover{
  background: #f8f8f8;
}

main nav li {
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 12px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

#play {
  width: 140px;
}

#prev,
#next {
  width: 60px;
}

.thumbnails{
  display: flex;
  justify-content: space-between;
}

.thumbnails li {
  cursor: pointer;
  opacity: 0.4;
}

.thumbnails li:hover,
.thumbnails li.current {
  opacity: 1;
}

.thumbnails img{
  width: 56px;

}